
@import '../../variables';

@mixin button-color($color, $textColor) {}

.radio {
    &-container {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 18px;
        cursor: pointer;

        & > .radio-icon {
            display: inline-block;
            height: auto;
            vertical-align: middle;
        }

        & > .radio-label {
            @include no-selection();
            display: inline-block;
            height: auto;
            vertical-align: middle;
            margin-left: 12px;
            color: $grey;
        }
    }
}
