
@import '../../variables';

.select-container {
    position: relative;
    background-color: $white;
    border-radius: 8px;

    @include lightBordered();

    &.areOptionsVisible {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    & > .select {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        cursor: pointer;

        & > .select-placeholder {
            flex: 1;
            margin: 8px 12px;
            font-size: 16px;
            color: $grey;
        }

        & > .select-values {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow-x: hidden;
            margin: 0 0 0 4px;

            & > .select-value {
                width: auto;
                display: inline-block;
                margin: 4px 4px;
                padding: 4px 6px;
                border-radius: 4px;
                background-color: change-color($purple, $alpha: .16);
                color: $purpleDark;
                white-space: nowrap;
            }
        }

        & > .select-counter {
            width: auto;
            margin: 4px 4px 4px 8px;
            padding: 4px 6px;
            font-size: 16px;
            line-height: 16px;
            background-color: $almost-white;
            border-radius: 4px;
            color: $grey;
        }

        & > .select-icon {
            width: auto;
            margin: 8px 12px 8px 8px;
        }
    }

    & > .select-dropdown {
        position: absolute;
        width: 100%;
        left: -1px;
        background-color: $white;
        z-index: 1600;
        display: flex;
        flex-direction: column;

        @include lightBordered();
        border-top: 1px solid $almost-white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        
        & > .select-options {
            max-height: 37vh;
            overflow-y: scroll;

            & > .select-option {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 8px 12px;
                cursor: pointer;

                &:hover {
                    & > .option-text {
                        color: $purple;
                    }
                }

                & > .option-checkbox {
                    margin-right: 12px;
                }

                & > .option-text {
                    margin-top: 4px;
                    font-size: 16px;
                    line-height: 16px;
                    color: $text;
                }
            }
        }

        & > .select-footer {
            padding: 12px 24px;
            border-top: 1px solid $almost-white;
        }
    }
}
