
@import '../../variables';

.accordion-container {
    & > .accordion-item {
        border-top: 1px solid $nearly-white;

        & > .accordion-item-header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 12px 12px 0;

            & > .header-title {
                flex: 1;
                margin-left: 12px;
                cursor: pointer;

                &:hover {
                    color: $purple;
                }
            }

            & > .header-action {
                width: auto;
                margin-left: 12px;
            }
        }

        & > .accordion-item-content {
            margin-left: 24px;
        }
    }
}
