
@import '../../variables';

@mixin tabs-color($color) {
    & > .tab {
        color: $grey;

        &.highlight-anyway {
            background-color: $color;
            color: rgba(241,239,248,1);
        }

        &.active {
            background-color: rgba(241,239,248,1);
            color: $color;
        }

        &.disabled {
            background-color: change-color($grey, $alpha: .04);
            color: $grey;
            cursor: not-allowed;
        }
    }
}

@mixin tabs-sizing($fontSize, $padding: 12px 24px) {
    & > .tab {
        font-size: $fontSize;
        padding: $padding;
        margin-right: 16px;
    }
}

.tabs {
    &-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &.noBottomBorder {
            border-bottom: none;
        }

        &.isCompact {
            width: auto;
        }

        & > .tab-spacer {
            flex: 1;
        }

        @include tabs-color($purple);
        &.blue { @include tabs-color($blue); }
        &.purple { @include tabs-color($purple); }

        @include tabs-sizing(16px);
        &.base { @include tabs-sizing(16px); }
        &.big { @include tabs-sizing(18px, 14px 26px); }

        & > .tab {
            display: inline-block;
            cursor: pointer;
            border-radius: 8px;
            font-weight: bold;
            white-space: nowrap;

            & > .tab-badge {
                display: inline-block;
                min-width: .7rem;
                height: calc(.7rem - 1px);
                margin: -.7rem 0 0 4px;
                padding-top: 1px;
                font-size: .5rem;
                line-height: .5rem;
                border: 1px solid $purple;
                border-radius: 1rem;
                vertical-align: middle;
                text-align: center;
                color: $white;
                background-color: $purple;
            }
        }
    }
}
