
@import '../../variables';

.link-container {
    color: $purple;
    text-decoration: none;
    cursor: pointer;

    & a {
        outline: none;
        border: none;
    }

    &:not(.easeColor):hover {
        color: change-color($purple, $alpha: .74);
    }

    &.easeColor {
        color: unset;
        transition: color ease 1s;
    }

    &.easeColor:hover {
        color: change-color($purple, $alpha: .74);
    }
}
